body {
  text-align: center;
  background-color: #f1f6f5;
  color: #4b56d2;
}

.heading {
  font-size: 50px;
  padding: 50px 0;
}

.container {
  display: flex;
  gap: 50px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #82c3ec;
  width: 25%;
  border-radius: 15px;
}

.content {
  height: 100%;
}

.image {
  height: 75%;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}

.description {
  height: 25%;
}

.name {
  font-weight: bold;
  font-size: 2vw;
}

.role {
  font-size: 1.3vw;
}

.card:hover {
  background-color: #4b56d2;
  color: aliceblue;
  transform: scale(1.03);
  transition: all 1.3s ease;
  box-shadow: 0 0 12px rgb(164, 157, 157);
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    height: 200%;
    border-radius: 30px;
  }
  .name {
    font-size: 10vw;
  }
  .role {
    font-size: 7vw;
  }
}
